header {
	flex: 0;
	font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", "Marker Felt", "Purisa", "URW Chancery L", cursive, sans-serif;
	background-color: #000;
	color: white;
	text-align: center;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
	padding: 8px 30px;
	background-image: url("public/app/fancy-cushion.webp");
	border-bottom: 1px solid #303030;
}

.header-content {
	max-width: 1400px;
	margin: 0 auto;

	.title {
		font-size: 2em;
		padding-bottom: 8px;

	}
}

.header-filters {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 8px;
	input, select {
		flex: 1;
		font-size: 1.1em;
	}

	input, select, div {
		margin-left: 4px;
		margin-right: 4px;
		text-align: left;
		max-width: 100%;
	}
}

.main {
	padding-top: 160px;
}

.layouts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1400px;
	margin: 0 auto;
}

.waving:before {
	content: "🀄";
}

.waving {
	display: inline-block;
}

.header-content .title:hover {
	span {
		background-image: linear-gradient(to right, red 14%, orange 28%, yellow 42%, green 56%, fuchsia 70%, blue 84%, violet);
		background-clip: text;
		color: transparent;
	}
	.waving {
		animation-name: wave-animation;
		animation-duration: 3.0s;
		animation-iteration-count: infinite;
		transform-origin: 70% 70%;
	}
}

@keyframes wave-animation {
	0% {
		transform: rotate(0.0deg)
	}
	10% {
		transform: rotate(14.0deg)
	}
	20% {
		transform: rotate(-8.0deg)
	}
	30% {
		transform: rotate(14.0deg)
	}
	40% {
		transform: rotate(-4.0deg)
	}
	50% {
		transform: rotate(10.0deg)
	}
	60% {
		transform: rotate(0.0deg)
	}
	100% {
		transform: rotate(0.0deg)
	}
}

