.overlay-content-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	background: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
	z-index: 11;
}

.overlay-content {
	background: #000;
	border: 1px solid #fff;
	padding: 20px;
	display: block;
	box-shadow: 3px 3px 15px #5c5656;
	width: 1000px;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	overflow-y: auto;
}

.overlay-close {
	position: absolute;
	right: 10px;
	top: 10px;
}

.overlay-content small {
	margin-top: 8px;
	font-weight: bold;
	font-size: 12px;
	display: block;
}

.overlay-content .flex {
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.overlay-content .flex-1 {
	min-width: 100px;
	flex: 1;
}

.overlay-content .flex-2 {
	min-width: 100px;
	flex: 2;
}

@media (max-width: 440px) {
	.overlay-content .flex-2 {
		flex: 1;
	}
}

.overlay-content img {
	max-width: 100%;
	max-height: 600px;
	display: block;
	margin: 0 auto;
}

@media (max-height: 640px) {
	.overlay-content img {
		max-height: 300px;
	}
}

@media (max-height: 440px) {
	.overlay-content img {
		max-height: 200px;
	}
}

@media (max-width: 440px) {
	.overlay-content .flex {
		flex-direction: column;
		text-align: center;
	}

	.overlay-content .flex-2 {
		margin-top: 1em;
	}
}

.overlay-content .source {
	flex: 100%;
	max-width: 100%;
}

.overlay-content .source a {
	flex: 100%;
	word-break: break-all;
	max-width: 100%;
}

.overlay-content .source code {
	word-break: break-all;
	font-size: 0.8em;
}

.overlay-content button.play, .overlay-content a.save {
	border: 1px solid #222020;
	border-radius: 6px;
	cursor: pointer;
	margin-top: 9px;
	margin-right: 4px;
	background-repeat: no-repeat;
	background-position-y: center;
	padding: 10px 14px 10px 32px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	background-color: #272727;
}

.overlay-content button.play {
	background-position-x: 8px;
	background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21'%3E%3Cpath fill='%23fff' d='M7 3v16l8-7.988z'/%3E%3C/svg%3E");
}

.overlay-content a.save {
	background-position-x: 12px;
	background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16'%3E%3Cg transform='matrix(.875 0 0 .875 -1.625 -903.192)'%3E%3Cpath fill='%23fff' d='M3 1033.362v16h16v-13.714l-2.286-2.286zm1.143 1.143H7.57v4.571h6.858v-4.571h1.142l2.286 2.286v11.428h-1.143v-6.857H5.286v6.857H4.143zm4.571 0h3.429v3.429H8.714zm-2.285 8h9.142v5.714H6.43z' /%3E%3C/g%3E%3C/svg%3E");
}

.overlay-content button.play:focus, .overlay-content a.save:focus {
	border: 1px solid #fff;
	outline: #fff;
}

.overlay-content a.save svg {
	margin-right: 5px;
}

.overlay-content a.save path.save {
	fill: var(--link-color);
	fill-opacity: 1;
	stroke: none;
	stroke-width: 1.15px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
}

.overlay-content a.save path.save {
	fill: var(--link-color-hover);
}

.overlay-content path.play {
	display: inline;
	overflow: visible;
	visibility: visible;
	fill: var(--link-color);
	fill-opacity: 1;
	fill-rule: nonzero;
	stroke: none;
	stroke-width: 1;
}
